{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center"> {{ user.username }} </h2>

    {% if request.user.id == user.id %}
        <a  href="{% url 'home:post-crete' %}" class="btn btn-primary">Create</a>
        <a  href="{% url 'account:edit_user' %}" class="btn btn-primary">Edit Profile</a>
    {% endif %}

    {% if  request.user.id != user.id and not is_fallowing   %}

        <a class="btn btn-primary" href="{% url 'account:fallow' user.id  %}">Fallow</a>
        {% elif request.user.id != user.id and is_fallowing %}
        <a class="btn btn-primary" href="{% url 'account:unfallow' user.id  %}">UnFallow</a>


    {% endif %}

    <div class="card">
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="card-body">{{ post.body|truncatewords:10 }}</a>
        {% endfor %}
    </div>
{% endblock %}